DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=stay_smart_db

DATABASE_URL="postgresql://postgres:1234@localhost:5432/stay_smart_db?schema=public"

PASSPORT_SESSION_SECRET="change-me-in-local-dev"
PORT=3000
NODE_ENV=development
